.spNavi {
    margin: 0 0 40px 0;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px 0;
        background: #eee;
        li {
            margin: 0 16px;
            a {
                font-size: 14px;
                color: #666;
                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    margin: 0 auto;
                    padding: 0 0 4px 0;
                    border-bottom: 1px solid #666;
                    transition: 0.5s;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}
.pcNavi {
    display: none;
}
@media screen and (min-width:768px) {
    .spNavi {
        display: none;
    }
    .pcNavi {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 32px);
        position: absolute;
        top: -40px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        ul {
            display: flex;
            li {
                margin: 0 32px 0 0;
                a {
                    font-size: 14px;
                    &:hover {
                        color: #6DB461;
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 0;
                        margin: 0 auto;
                        padding: 0 0 4px 0;
                        border-bottom: 2px solid #6DB461;
                        transition: 0.5s;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                    span {
                        font-size: 10px;
                        color: #6DB461;
                        margin: 0 8px 0 0;
                        position: relative;
                        bottom: 2px;
                    }
                }
            }
        }
        .btn {
            font-size: 12px;
            color: #fff;
            padding: 8px 20px;
            border: 1px solid #6DB461;
            border-radius: 30px;
            background: #6DB461;
            transition: 0.5s;
            &:hover {
                color: #6DB461;
                background: #fff;
            }
        }
    }
}
@media screen and (min-width:1024px) {
    .pcNavi {
        width: calc(100% - 40px);
        ul {
            li {
                margin: 0 40px 0 0;
                a {
                    font-size: 16px;
                }
            }
        }
        .btn {
            font-size: 16px;
            padding: 12px 40px;
            border: 2px solid #6DB461;
        }
    }
}
@media screen and (min-width:1200px) {
    .pcNavi {
        width: 1160px;
        top: -50px;
    }
}