.boxItem {
    margin: 80px auto;
    position: relative;
    position: relative;
}
.boxItem .logo {
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    filter: drop-shadow(0 -5px 20px rgba(0, 0, 0, 0.1));
}
.boxItem .boxItemItems {
    padding: 0 20px;
}
.boxItem .boxItemItems .boxItemItem {
    position: relative;
}
.boxItem .boxItemItems .boxItemItem .boxItemImage {
    position: relative;
    transition: 0.5s;
}
.boxItem .boxItemItems .boxItemItem .boxItemImage .eyecatch {
    width: 100%;
    height: 340px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
}
.boxItem .boxItemItems .boxItemItem .boxItemImage .station {
    width: 88px;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
}
.boxItem .boxItemItems .boxItemItem .boxItemImage .station .triangle {
    width: 100%;
    height: auto;
}
.boxItem .boxItemItems .boxItemItem .boxItemImage .station .stationName {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    transform: rotate(-45deg);
    position: absolute;
}
.boxItem .boxItemItems .boxItemItem .boxItemImage .station .fiveText {
    top: 28px;
    right: 28px;
}
.boxItem .boxItemItems .boxItemItem .boxItemImage .nickName {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    filter: drop-shadow(0 0 1px rgb(0, 0, 0));
    position: absolute;
    bottom: 64px;
    left: 24px;
}
.boxItem .boxItemItems .boxItemItem .boxItemImage .boxItemDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
    padding: 16px 24px;
    border-radius: 0 0 20px 20px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.boxItem .boxItemItems .boxItemItem .boxItemImage:hover {
    opacity: 0.7;
}
.boxItem .scrollIcon {
    display: none;
}

@media screen and (min-width: 768px) {
    .boxItem {
        width: calc(100% - 40px);
    }
    .boxItem .logo {
        width: 130px;
        height: auto;
        top: -10px;
    }
    .boxItem .boxItemItems {
        padding: 0 14px;
    }
    .boxItem .scrollIcon {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        width: 100%;
        height: 128px;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
        position: absolute;
        bottom: -80px;
        z-index: 1000;
    }
    .boxItem .scrollIcon::after {
        content: "";
        display: inline-block;
        border-left: 1px solid #333;
        width: 0;
        margin: 12px 0 0 0;
        -webkit-animation-name: scrollIconAnimation;
                animation-name: scrollIconAnimation;
        -webkit-animation-duration: 1.5s;
                animation-duration: 1.5s;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    @-webkit-keyframes scrollIconAnimation {
        0% {
            height: 0%;
        }
        100% {
            height: 100%;
        }
    }
    @keyframes scrollIconAnimation {
        0% {
            height: 0%;
        }
        100% {
            height: 100%;
        }
    }
}
@media screen and (min-width: 1024px) {
    .boxItem {
        margin: 100px auto 200px;
        width: calc(100% - 80px);
    }
    .boxItem .boxItemItems {
        padding: 0 20px;
    }
    .boxItem .boxItemItems .boxItemItem .boxItemImage .station {
        width: 140px;
        height: 140px;
    }
    .boxItem .boxItemItems .boxItemItem .boxItemImage .station .stationName {
        font-size: 16px;
    }
    .boxItem .boxItemItems .boxItemItem .boxItemImage .station .fiveText {
        top: 44px;
        right: 42px;
    }
    .boxItem .boxItemItems .boxItemItem .boxItemImage .nickName {
        bottom: 80px;
        left: 28px;
    }
    .boxItem .boxItemItems .boxItemItem .boxItemImage .boxItemDetail {
        font-size: 14px;
        padding: 24px 28px;
        border-radius: 0 0 40px 40px;
    }
    .boxItem .boxItemItems .boxItemItem .boxItemImage .eyecatch {
        height: 480px;
        border-radius: 40px;
    }
}
@media screen and (min-width: 1200px) {
    .boxItem {
        width: 1200px;
    }
    .boxItem .logo {
        width: 200px;
    }
    .boxItem .boxItemItems .boxItemItem .boxItemImage .eyecatch {
        width: 100%;
        height: 567px;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .boxItem .scrollIcon {
        font-size: 20px;
        height: 278px;
        bottom: -200px;
    }
}